footer.page-footer
  p.text-center=site.name
    |  
    small=site.version
    |  by 
    a(target='_blank', href='//github.com/' + site.author, title='Github: @' + site.author)='@' + site.author
    |  · Open Sourced on 
    a(target='_blank', href='//github.com/' + site.author + '/kyukou', title=site.author + '/kyukou') GitHub
